.new_product {
  width: 100%;
  height: 200px;
  background: url(../images/banner/423_1.jpg) no-repeat center 0px;
}
.ageless {
  height: 1000px;
  width: 100%;
  background: url(../images/banner/TB2upxLcJMnyKJjSZPhXXaeZVXa-263817957.jpg) no-repeat center 0px;
}
.look_book {
  display: block;
  height: 1124px;
  width: 100%;
  clear: both;
  background: url(../images/banner/1.jpg) no-repeat center 0px;
}
.list {
  width: 980px;
  height: auto;
  margin: 0 auto;
}
.list ul {
  overflow: hidden;
}
.list ul li {
  width: 230px;
  height: auto;
  list-style: none;
  float: left;
  margin-bottom: 25px;
  margin-right: 10px;
}
.list ul li p {
  text-align: center;
  padding-top: 10px;
  font-family: "微软雅黑";
  color: #333;
}
.list ul li p span {
  font-family: Arial;
  font-size: 18px;
  color: #000;
  margin-left: -4px;
}
.list ul li p del {
  color: #898989;
  font-size: 12px;
}
.list ul li p img {
  width: 93px;
  height: 17px;
  margin: 0 auto;
  margin-top: 5px;
}
.banner_list {
  width: 1200px;
  height: auto;
  margin: 30px auto 30px;
  font-family: arial, "microsoft yahei";
  overflow: hidden;
}
.banner_list ul {
  width: 1300px;
  float: left;
  display: block;
  overflow: hidden;
}
.banner_list ul li {
  margin: 0;
  padding: 0;
  width: 372px;
  height: 660px;
  float: left;
  display: block;
  margin-right: 42px;
  margin-bottom: 40px;
  text-align: left;
  overflow: hidden;
}
.banner_list ul li a {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  color: #000;
  font-size: 24px;
  line-height: 40px;
}
.banner_list ul li a .span_top {
  width: 100%;
  height: 523px;
  float: left;
  background: #000;
  opacity: 1;
}
.banner_list ul li a .span_top span {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  top: -50px;
}
.banner_list ul li a .span_bottom {
  display: block;
  width: 100%;
  height: 80px;
  float: left;
  margin-top: 20px;
}
.hdys {
  background: #CCC;
  height: 600px;
  width: 100%;
}
.hdys .hdys_top {
  width: 990px;
  height: 120px;
  margin: 10px auto;
}
.hdys .hdys_bottom {
  width: 850px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
.hdys .hdys_bottom ul {
  position: absolute;
  width: 990px;
  height: 185px;
}
.hdys .hdys_bottom ul li {
  width: 130px;
  height: 150px;
  float: left;
  margin-right: 2px;
  position: relative;
  transform: 1s;
}
.hdys .hdys_bottom ul li:hover {
  z-index: 40;
  transform: scale(1.2);
}
.hdys .hdys_bottom ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.hdys .hdys_bottom ul li a img {
  width: 130px;
  height: 150px;
  position: relative;
  z-index: 20;
}
